form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-dark);
    border-radius: .1vmin;
    input {
        font-size: 1vmin;
        border-radius: .1vmin;
        outline: none;
        height: 2vmin;
    }
}