:root{
  --offwhite: #fdfcf1;
  --text-light: #968c84;
  --text-dark: #615954;
  --text-black: #161616;
}


body {
  margin: 0;
  padding: 1vw;
  height: 100vh;
  background-color: var(--offwhite);
  color: var(--text-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}