.h1{
    background-color: var(--text-dark);
    color: var(--offwhite);
    font-size: 2.5rem;
    border-radius: 4px;
    text-align: center;
}

.button {
    background-color: var(--text-dark);
    color: var(--offwhite);
    font-size: 2.5rem;
    min-height: 10rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}